@import '../css/placeholder/placeholder';
@import '../css/mixins/mixins';

$color_primario: rgb(202, 202, 202);
$color_secundario: rgb(126, 122, 122);
$color_terciario: rgb(230, 20, 20);
$negro : black;
$neutro: white;

button{
    @extend %button;
    
    &:hover{
        @include hover;
    }
}
label{
    padding: 15px;   
    margin: 10px; 
}
input{
    padding: 10px;
    margin: 10px;
}
html{
    background-color: $color_primario;
}
body{
    @extend %body;
}
tr{
    display: inline-block;
}
p{
    @extend %p;
}
#id{
    color: red;
    text-decoration: none;
}
img{
    width: 500px;
    height: 300px;
    padding: 20px;
}
#resultado{
    @extend %resultado;
    border: 1px solid red;
}
div{
    border: 1px solid black;
    margin: 0 auto;
    width: 550px;
    height: 550px;
    background-color: $color_secundario;
    box-shadow: 5px 5px 5px $negro;
    border-radius: 10px;
}
label{

    padding: 10px;
    background-color: $color_terciario;
    border-radius: 5px;
}
select {
    padding: 10px;
    background-color: $color_terciario;
    border-radius: 5px;
    font-family: Helvetica;
    color: white;
}
h1{
    align-items: center;
    padding: 10px;
}
a{
    padding: 5px;
    display: inline-block;
    text-decoration: none;
}
