@mixin hover{
    &:hover{
        background-color: $neutro;
        color: rgb(99, 85, 85); 
    }
}
@mixin a{
    &:hover{
        color: $color-secundario;
    }
}
@mixin label{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
@mixin input{
    padding: 10px;
    margin: 10px;
}


@mixin P1{
    color: $color-secundario;
    font-size: 20px;
    font-weight: bold;
    text-align: center;}
@mixin li{
    font-size: 20px;
    text-align: left;
}
@mixin U2{
    font-size: 20px;
}
@mixin U3{
    font-size: 20px;
    text-align: left;
}